.mine{
    text-align: center;
    font-size:100px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
.google-input{
    display: flex;
    justify-content: center;
}
input{
    width: 50%;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(205, 112, 202);
    color: white;
      
}
.submit{
    display: flex;
    justify-content: center;

}
button{
    padding: 15px;
    border-style: solid;
    border-color: blue;
    border-radius: 10px;
}
button:hover{
    background-color:blue;
    color: white;
}
